<div class="container mt-4">
    <app-title [label]="'Derniers dividendes (Polygon.io)'"></app-title>
  
    <input
      type="text"
      class="form-control text-dark border-1 my-4 text-center"
      placeholder="Rechercher un dividende par ticker"
      [(ngModel)]="searchText"
      (input)="filterDividends()"
    />
  
    <div *ngIf="filteredDividends.length > 0; else loading" class="overflow-y-scroll" style="max-height: 400px;">
      <table class="table table-striped table-hover">
        <thead class="table-light sticky-top">
          <tr>
            <th>#</th>
            <th>Ticker</th>
            <th>Date de paiement</th>
            <th>Montant</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dividend of filteredDividends; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ dividend.ticker }}</td>
            <td>{{ dividend.pay_date }}</td>
            <td>{{ dividend.cash_amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #loading>
      <p>Chargement en cours...</p>
    </ng-template>
  </div>
  