<app-header />

<div class="container mt-4">
  <h2 class="text-center mb-4">Mes Portefeuilles</h2>

  <div  class="table-scrollable" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
          <th style="width: 15%">Nom</th>
          <th style="width: 15%">Montant total</th>
          <th style="width: 55%">Actifs</th>
          <th style="width: 15%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pf of portefeuilles">
          <td>{{ pf.nom }}</td>
          <td>{{ pf.montant_total | number: '1.2-2' }} €</td>
          <td>
            <div style="max-height: 200px; overflow-y: auto;">
              <table class="table table-sm table-striped mb-0">
                <thead class="table-secondary sticky-top">
                  <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Type</th>
                    <th>Pourcentage</th>
                    <th>Rendement</th>
                    <th>Volatilité</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let actif of pf.actifs">
                    <td>{{ actif.nom }}</td>
                    <td>{{ actif.categorie }}</td>
                    <td>{{ actif.type }}</td>
                    <td>{{ actif.pourcentage }}%</td>
                    <td>{{ actif.rendement }}%</td>
                    <td>{{ actif.volatilite }}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
          <td>
            <button class="btn btn-primary btn-sm me-2" (click)="modifier(pf)">Modifier</button>
            <button class="btn btn-danger btn-sm" (click)="supprimer(pf.id!)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center mt-4 mb-4">
  <button class="btn btn-success" (click)="goToFormulaire()">
    Evaluer mon profil
  </button>
</div>