<mat-toolbar color="primary" class="header">

 
  <span style="font-weight: bold;">MonApp</span>

  

  <!-- Menu principal directement dans la barre -->
  <button mat-button (click)="goToHome()" style="color: white;">
    
    <span>Menu</span>
  </button>
  <button mat-button (click)="goToportfeuille()" style="color: white;">
   
    <span>Portefeuille</span>
  </button>
  <button mat-button (click)="goToactions()" style="color: white;">
    
    <span>Action</span>
  </button>
  <!-- Espace flexible pour pousser le profil à droite -->
  <span class="flex-spacer"></span>
  <!-- Icône de profil -->
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>

<!-- Menu profil -->
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item (click)="goToProfile()">
    <mat-icon>person</mat-icon>
    <span>Profil</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>
