<!-- <div class="signup-container">
  <div class="signup-card">
    <h2>Créer un compte</h2>
    <form>
      <div class="input-group">
        <label>Nom d'utilisateur</label>
        <input type="text" [(ngModel)]="nouvel_utilisateur" name="nouvel_utilisateur" required />
      </div>

      <div class="input-group">
        <label>Nom</label>
        <input type="text" [(ngModel)]="nom" name="nom" required />
      </div>

      <div class="input-group">
        <label>Prénom</label>
        <input type="text" [(ngModel)]="prenom" name="prenom" required />
      </div>

      <div class="input-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email" required />
      </div>

      <div class="input-group">
        <label>Mot de passe</label>
        <input type="password" [(ngModel)]="mot_de_passe" name="mot_de_passe" required />
      </div>

      <div class="input-group">
        <label>Numéro de téléphone</label>
        <input type="tel" [(ngModel)]="num_tel" name="num_tel" required />
      </div>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      
      <button (click)="signup()" type="submit">S'inscrire</button>
    </form>
  </div>
</div>
 -->