<div class="login-container">
  <div class="login-card">
    <h2>Connexion</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Champ Email -->
      <div class="input-group">
        <label>Email</label>
        <input type="email" formControlName="email">
        <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
          Adresse email invalide.
        </p>
      </div>

      <!-- Champ Mot de passe -->
      <div class="input-group">
        <label>Mot de passe</label>
        <input type="password" formControlName="mot_de_passe">
        <p *ngIf="loginForm.get('mot_de_passe')?.invalid && loginForm.get('mot_de_passe')?.touched" class="error-message">
          Le mot de passe doit comporter au moins 6 caractères.
        </p>
      </div>

       
      <!-- Bouton de soumission -->
      <button type="submit"  >Connexion</button>

      <p>Pas encore de compte ? <a routerLink="/signup">S'inscrire</a></p>
    </form>
  </div>
</div>

 