<app-header />
<div class="container p-2">

    <div class="row">
        <div class="col-6">
            <h1>Bienvenue sur notre application !</h1>
            <p>Connectez-vous pour accéder à toutes les fonctionnalités.</p>
            <p>Vous pouvez consulter les dernières actualités, gérer votre portefeuille et bien plus encore.</p>
            <p>Nous sommes ravis de vous avoir ici !</p>
            <p>Si vous n'avez pas encore de compte, n'hésitez pas à vous inscrire.</p>
        </div>
        <div class="col-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tempore inventore odit nobis repudiandae
                veritatis,            </p>
            <p>deleniti nostrum molestias aspernatur porro quae ipsum. </p>
            <p> Eius nemo quidem cumque tempora excepturi? Quisquam, voluptas.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-4"> </div>
        <div class="col-5"> <app-coins /> </div>
    </div>

</div>