table {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}


.alert-success {
  border-left: 5px solid #28a745;
  padding: 1rem;
  background-color: #e6ffed;
  font-size: 1rem;
  line-height: 1.6;
  border-radius: 8px;
}

.meilleur {
  background-color: #12ce12;
  border-left: 5px solid #afd6b8;
  font-weight: bold;
}
.note {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
}

.meilleur-portefeuille {
  border: 2px solid #07f10f;
  background-color: #e8f5e9;
  font-weight: bold;
}


.table-scrollable {
  max-height: 300px;
  overflow-y: auto;
  display: block;
}



